@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }
    
    .main .top-row.auth {
        justify-content: space-between;
    }
    
    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.result {
    margin-top: 16px;
    border-color: dimgrey;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

.result th {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

.result td {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

#Input1 {
    position: absolute;
    top: 250px;
    left: 310px;
}

#Input2 {
    position: absolute;
    top: 250px;
    left: 430px;
}

#LoadSiloses {
    position: absolute;
    top: 400px;
    left: 880px;
    width: 350px;
}

#SelectMaterial {
    display: inherit;
    position: absolute;
    top: 550px;
    left: 280px;
    width: 350px;
}

#Reset1 {
    position: absolute;
    top: 200px;
    left: 320px;
}

#Reset2 {
    position: absolute;
    top: 200px;
    left: 437px;
}

.silos_detail {
    background-color: papayawhip;
    border-collapse: collapse;
    border-color: #491217;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    font-family: "Times New Roman", serif;
    font-size: 12px;
}

.silos_detail caption {
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

th, td {
    border: 1px solid black;
}

.form {
    border-style: solid;
}

.form caption {
    font-family: Arial, sans-serif;
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#Silos1 {
    position: absolute;
    top: 150px;
    left: 650px;
}

#Silos2 {
    position: absolute;
    top: 150px;
    left: 750px;
}

#Silos3 {
    position: absolute;
    top: 150px;
    left: 850px;
}

#Silos4 {
    position: absolute;
    top: 150px;
    left: 950px;
}

#Silos5 {
    position: absolute;
    top: 150px;
    left: 1050px;
}

#Silos6 {
    position: absolute;
    top: 150px;
    left: 1150px;
}

#Silos7 {
    position: absolute;
    top: 150px;
    left: 1250px;
}

#Silos8 {
    position: absolute;
    top: 150px;
    left: 1350px;
}

.SilosLoad {
    position: absolute; 
    font-family: serif; 
    font-size: 8pt; 
    font-weight: bold; 
    color: maroon; 
}

#Silos1_Load {
    top: 155px;
    left: 657px;
}

#Silos2_Load {
    top: 155px;
    left: 757px;
}

#Silos3_Load {                              
    top: 155px;
    left: 857px;
}

#Silos4_Load {
    top: 155px;
    left: 957px;
}

#Silos5_Load {
    top: 155px;
    left: 1057px;
}

#Silos6_Load {
    top: 155px;
    left: 1157px;
}

#Silos7_Load {
    top: 155px;
    left: 1257px;
}

#Silos8_Load {
    top: 155px;
    left: 1357px;
}

#Conveyor1 {
    position: absolute;
    top: 504px;
}

#Conveyor2 {
    position: absolute;
    top: 0;
    left: 570px;
}

#Conveyor3 {
    position: absolute;
    top: 0;
    left: 570px;
}

#Conveyor4 {
    position: absolute;
    top: 60px;
    left: 700px;
}

#Led1 {
    position: absolute;
    top: 120px;
    left: 680px;
}

#Led2 {
    position: absolute;
    top: 120px;
    left: 780px;
}

#Led3 {
    position: absolute;
    top: 120px;
    left: 880px;
}

#Led4 {
    position: absolute;
    top: 120px;
    left: 980px;
}

#Led5 {
    position: absolute;
    top: 120px;
    left: 1080px;
}

#Led6 {
    position: absolute;
    top: 120px;
    left: 1180px;
}

#Led7 {
    position: absolute;
    top: 120px;
    left: 1280px;
}

#Led8 {
    position: absolute;
    top: 120px;
    left: 1380px;
}

dialog{
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    background: yellow;
    z-index: 100;
}

.kha {
    border-collapse: collapse;
    position: absolute;
    left: 1300px;
    top: 100px;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    display: none;
}

.kha tbody {
    width: 220px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.kha th {
    border-width: 2px;
}

.kha caption {
    font-family: Arial, sans-serif;
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

#balloon {
    padding: 6px;
    background-color: #c1c0ac;
    border-width: 1px;
    border-color: #333434;
    border-style: solid;
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

#tooltip {
    border-collapse: collapse;
}

#tooltip_caption {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 12pt;
}

.material_name {
    position: absolute;
    font-family: monospace;
    font-size: 14pt;
    color: darkblue;
    font-weight: bold;
}

.tanker_number {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #0c5460;
}

#Input1_Material {
    top: 260px;
    left: 320px;
}

#Input2_Material {
    top: 260px;
    left: 440px;
}

#Input1_Load {
    position: absolute;
    top: 300px;
    left: 320px;
    font-family: serif;
    font-weight: bold;
    font-size: 10pt;
    color: maroon;
}

#Input2_Load {
    position: absolute;
    top: 300px;
    left: 440px;
    font-family: serif;
    font-weight: bold;
    font-size: 10pt;
    color: maroon;
}

#Silos1_Material {
    top: 180px;
    left: 665px;
}

#Silos2_Material {
    top: 180px;
    left: 765px;
}

#Silos3_Material {
    top: 180px;
    left: 865px;
}

#Silos4_Material {
    top: 180px;
    left: 965px;
}

#Silos5_Material {
    top: 180px;
    left: 1065px;
}

#Silos6_Material {
    top: 180px;
    left: 1165px;
}

#Silos7_Material {
    top: 180px;
    left: 1265px;
}

#Silos8_Material {
    top: 180px;
    left: 1365px;
}

#Input1_Number {
    top: 385px;
    left: 350px;
}

#Input2_Number {
    top: 385px;
    left: 470px;
}

#Silos1_Number {
    top: 215px;
    left: 687px;
}

#Silos2_Number {
    top: 215px;
    left: 787px;
}

#Silos3_Number {
    top: 215px;
    left: 887px;
}

#Silos4_Number {
    top: 215px;
    left: 987px;
}

#Silos5_Number {
    top: 215px;
    left: 1087px;
}

#Silos6_Number {
    top: 215px;
    left: 1187px;
}

#Silos7_Number {
    top: 215px;
    left: 1287px;
}

#Silos8_Number {
    top: 215px;
    left: 1387px;
}

#Input1_Status {
    position: absolute;
    top: 349px;
    left: 333px;
}

#Input2_Status {
    position: absolute;
    top: 349px;
    left: 453px;
}

#Silos1_Status {
    position: absolute;
    top: 157px;
    left: 722px;
}

#Silos2_Status {
    position: absolute;
    top: 157px;
    left: 822px;
}

#Silos3_Status {
    position: absolute;
    top: 157px;
    left: 922px;
}

#Silos4_Status {
    position: absolute;
    top: 157px;
    left: 1022px;
}

#Silos5_Status {
    position: absolute;
    top: 157px;
    left: 1122px;
}

#Silos6_Status {
    position: absolute;
    top: 157px;
    left: 1222px;
}

#Silos7_Status {
    position: absolute;
    top: 157px;
    left: 1322px;
}

#Silos8_Status {
    position: absolute;
    top: 157px;
    left: 1422px;
}

.statusBar {
    position: absolute;
    top: 800px;
    left: 300px;
    width: 700px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
}

.statusCell {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #533f03;
    padding: 4px;
}

h3 {
    font-size: 18pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #3a0647;
    position: absolute;
    top: 80px;
    left: 340px;
    padding: 12px;
    border-style: solid;
    border-radius: 8px;
}

.siloses_a2mat {
    font-family: serif;
    font-weight: bold;
    color: darkcyan;
    font-size: 12pt;
    position: absolute;
}

.siloses_a2stat {
    position: absolute; 
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 6pt;
    color: darkred;
}

.siloses_a2num {
    position: absolute; 
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

#Silos1a2 {
    position: absolute;
    top: 180px;
    left: 300px;
}

#Silos1a2_mat {
    top: 202px; 
    left: 307px;
}

#Silos1a2_led {
    position: absolute;
    top: 184px; 
    left: 354px;
}

#Silos1a2_stat {
    top: 185px;
    left: 304px;
}

#Silos1a2_num {
    top: 228px;
    left: 328px;
}

#Silos2a2 {
    position: absolute;
    top: 180px;
    left: 375px;
}

#Silos2a2_mat {
    top: 202px;
    left: 382px;
}

#Silos2a2_led {
    position: absolute;
    top: 184px;
    left: 429px;
}


#Silos2a2_stat {
    top: 185px;
    left: 379px;
}

#Silos2a2_num {
    top: 228px;
    left: 403px;
}

#Silos3a2 {
    position: absolute;
    top: 180px;
    left: 450px;
}

#Silos3a2_mat {
    top: 202px;
    left: 457px;
}

#Silos3a2_led {
    position: absolute;
    top: 184px;
    left: 504px;
}

#Silos3a2_stat {
    top: 185px;
    left: 454px;
}

#Silos3a2_num {
    top: 228px;
    left: 478px;
}

#Silos4a2 {
    position: absolute;
    top: 180px;
    left: 550px;
}

#Silos4a2_mat {
    top: 202px;
    left: 557px;
}

#Silos4a2_led {
    position: absolute;
    top: 184px;
    left: 604px;
}

#Silos4a2_stat {
    top: 185px;
    left: 554px;
}

#Silos4a2_num {
    top: 228px;
    left: 578px;
}

#Silos5a2 {
    position: absolute;
    top: 180px;
    left: 625px;
}

#Silos5a2_mat {
    top: 202px;
    left: 632px;
}

#Silos5a2_led {
    position: absolute;
    top: 184px;
    left: 679px;
}

#Silos5a2_stat {
    top: 185px;
    left: 629px;
}

#Silos5a2_num {
    top: 228px;
    left: 653px;
}

#Silos6a2 {
    position: absolute;
    top: 180px;
    left: 700px;
}

#Silos6a2_mat {
    top: 202px;
    left: 707px;
}

#Silos6a2_led {
    position: absolute;
    top: 184px;
    left: 754px;
}

#Silos6a2_stat {
    top: 185px;
    left: 704px;
}

#Silos6a2_num {
    top: 228px;
    left: 728px;
}

#Silos7a2 {
    position: absolute;
    top: 180px;
    left: 800px;
}

#Silos7a2_mat {
    top: 202px;
    left: 807px;
}

#Silos7a2_led {
    position: absolute;
    top: 184px;
    left: 854px;
}

#Silos7a2_stat {
    top: 185px;
    left: 804px;
}

#Silos7a2_num {
    top: 228px;
    left: 828px;
}

#Silos8a2 {
    position: absolute;
    top: 180px;
    left: 875px;
}

#Silos8a2_mat {
    top: 202px;
    left: 882px;
}

#Silos8a2_led {
    position: absolute;
    top: 184px;
    left: 929px;
}

#Silos8a2_stat {
    top: 185px;
    left: 879px;
}

#Silos8a2_num {
    top: 228px;
    left: 903px;
}

#Rollgang1a2 {
    position: absolute;
    top: 520px;
    left: 300px;
}

#Conveyor1a2 {
    position: absolute;
    top: 560px;
    left: 750px;
}

#Conveyor2a2 {
    position: absolute;
    left: 1050px;
    top: 50px;
}

#Rolgang1a2 {
    position: absolute;
    top: 510px;
    left: 360px;
}

#Conveyor3a2 {
    position: absolute;
    top: 30px;
    left: 1080px;
}

#Rolgang2a2 {
    position: absolute;
    top: 70px;
    left: 1100px;
}

#Conveyor4a2 {
    position: absolute;
    left: 1280px;
    top: 360px;
}

#Diviator1 {
    position: absolute;
    top: 120px;
    left: 1500px;
}

#Diviator2 {
    position: absolute;
    left: 1355px;
    top: 250px;
}

#Diviator3 {
    position: absolute;
    left: 1500px;
    top: 380px;
}

#Diviator4 {
    position: absolute;
    top: 530px;
    left: 1190px;
}

#Diviator5 {
    position: absolute;
    top: 620px;
    left: 1480px;
}

#Weight1a2 {
    position: absolute;
    top: 370px;
    left: 370px;
}

#Weight1_weight {
    position: absolute;
    left: 395px;
    top: 400px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 14pt;
}

#Weight1_led {
    position: absolute;
    top: 484px;
    left: 378px;
}

#Weight1_label {
    position: absolute;
    left: 375px;
    top: 373px;
    color: darkred;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    font-size: 11pt;
}

#Weight2a2 {
    position: absolute;
    top: 370px;
    left: 620px;
}

#Weight2_weight {
    position: absolute;
    left: 645px;
    top: 400px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 14pt;
}

#Weight2_led {
    position: absolute;
    top: 484px;
    left: 628px;
}

#Weight2_label {
    position: absolute;
    left: 625px;
    top: 373px;
    color: darkred;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    font-size: 11pt;
}

#Weight3a2 {
    position: absolute;
    top: 370px;
    left: 830px;
}

#Weight3_weight {
    position: absolute;
    left: 855px;
    top: 400px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 14pt;
}

#Weight3_led {
    position: absolute;
    top: 484px;
    left: 838px;
}

#Weight3_label {
    position: absolute;
    left: 835px;
    top: 373px;
    color: darkred;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    font-size: 11pt;

}

#Weight4a2 {
    position: absolute;
    top: 220px;
    left: 1590px;
}

#Weight4_weight {
    position: absolute;
    left: 1615px;
    top: 253px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 13pt;
}

#Weight4_led {
    position: absolute;
    top: 287px;
    left: 1628px;
}

#Weight4_label {
    position: absolute;
    top: 222px;
    left: 1600px;
    color: darkred;
    font-weight: bold;
    font-size: 11pt;
}

#Weight5a2 {
    position: absolute;
    top: 400px;
    left: 1200px;
}

#Weight5_weight {
    position: absolute;
    left: 1225px;
    top: 433px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 13pt;
}

#Weight5_led {
    position: absolute;
    top: 467px;
    left: 1238px;
}

#Weight5_label {
    position: absolute;
    top: 402px;
    left: 1208px;
    color: darkred;
    font-weight: bold;
    font-size: 11pt;
}

#Weight6a2 {
    position: absolute;
    top: 500px;
    left: 1420px;
}

#Weight6_weight {
    position: absolute;
    left: 1445px;
    top: 533px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 13pt;
}

#Weight6_led {
    position: absolute;
    top: 567px;
    left: 1458px;
}

#Weight6_label {
    position: absolute;
    top: 502px;
    left: 1428px;
    color: darkred;
    font-weight: bold;
    font-size: 11pt;
}

#Weight7a2 {
    position: absolute;
    top: 500px;
    left: 1600px;
}

#Weight7_weight {
    position: absolute;
    left: 1625px;
    top: 533px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    font-size: 13pt;
}

#Weight7_led {
    position: absolute;
    top: 567px;
    left: 1638px;
}

#Weight7_label {
    position: absolute;
    top: 502px;
    left: 1608px;
    color: darkred;
    font-weight: bold;
    font-size: 11pt;
}

#loadWeightsForm {
    background-color: ghostwhite;
    position: absolute;
    top: 590px;
    left: 350px;    
}

#loadReceiverForm {
    background-color: ghostwhite;
    position: absolute;
    top: 590px;
    left: 595px;
}

#detailCaption {
    background-color: papayawhip;
    text-align: center;
    vertical-align: middle;
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}
