@page "/arm1"
@inject NotifierService Notifier
@implements IDisposable

<h3>Arm1</h3>
<p>Last update: @lastNotification.key = @lastNotification.value</p>
<br />
<table>
    <tr>
        <th>Сигнал</th>
        <th>Значение</th>
    </tr>
    @foreach (var item in _data)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

