<img src=@srcImage style="position: absolute; top: @topMargin; left: @leftMargin;" alt="Тест компонента Blazor" />
<div id="status_msg" style="position: absolute; top: @topMargin; left: @leftMargin;">@statusMsg</div>
<img src=@statusImg style="position: absolute; top: @topMarginStatus; left: @leftMarginStatus;" alt="Текущее состояние компонента Blazor" />

